.app_box {
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#app_header {
  color: cadetblue;
  margin-bottom: -10px;
}

.Note_Wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
